.indox {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.indoxContact {
    height: 99vh;
    overflow-y: auto;
}

.indoxMessage {
    height: 99vh;
    overflow-y: auto;
}

.Contacts {
    overflow-y: scroll;
    gap: 2vmax;
}

.inboxLeft {
    width: 43%;
    overflow-wrap: break-word
}

.inboxRight {
    display: grid;
    grid-template-columns: 55% 45%;
    overflow-wrap: break-word
}

.porfileHeader {
    background-color: white;
}

.indoxDeshBord {
    height: 80%;
    gap: 1vmax;
}

.sendMessage {
    background-color: white;
}

.indoxConnatiner {
    overflow-y: auto;
}

.div {
    height: 100%;
    justify-content: space-between;
}

.video {
    display: grid;
    grid-auto-rows: 85vh 1fr;
}

.videoStream {
    position: relative;
}

.myStream {
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20vw;
    height: 30vh;
}

.videoHeandleBth {
    gap: 2vmax;
}

.remoteStream {
    background-color: rgb(237, 178, 61);
    width: 100%;
    height: 100%;
}

#button {
    width: 50vw;
    position: fixed;
    z-index: 1;
    background-color: wheat;
    top: 20vh;
    left: 20vw;
    gap: 3vmax;
}

#videocall {
    display: none;
}

@media only screen and (max-width:500px) {
    .indox {
        height: 92vh;
    }

    .indoxContact {
        width: 100vw;
        height: 92vh;
    }

    .indoxMessage {
        width: 0vw;
        height: 92vh;
    }
}